<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/main_css.css" />
  </head>
  <body>
    <header id="main_header">
      <h1 class="main_heading">Dad Jokes 101</h1>
      <div class="nav">
        <p class="header_para">
          <a class="page_link" href="/joke_generator">Generate</a>
        </p>
        <p class="spacer">''''''</p>
        <p class="header_para">
          <a class="page_link" href="/joke_search">Search</a>
        </p>
      </div>
    </header>
    <main id="main_content">
        <div class="welcome_div">
            <div class="welcome_message">
                <h2 class="welcome_header">Welcome To Dad Jokes 101!</h2>
                <p class="welcome_para">This website is all about dad jokes. Here you can sharpen your dad joke catalog. </p>
            </div>
        </div>
      <div id="cards-div">
        <h2 class="main_card_header">Some Dad Jokes</h2>
        <div class="cards">
          <div class="card_wrapper">
            <div class="card">
              <div class="card_img">
                  <img src="/static/imgs/lmao-meme.gif" alt="" />
                </a>
              </div>
              <header class="card_header">Dad Joke #1</header>
              <div class="card_body">
                <p class="featured_paras">
                    Why are oranges the smartest fruit? Because they are made to concentrate.
                </p>
              </div>
              <div class="card_button_div">
                <button class="card_button" ><a class="card_button" href="/templates/joke_generator.html">Go To Joke Page!</a></button>
              </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/static/imgs/laughing gif.gif" alt="" />
                  </a>
                </div>
                <header class="card_header">Dad Joke #2</header>
                <div class="card_body">
                  <p class="featured_paras">
                    What cheese can never be yours? Nacho cheese.
                  </p>
                </div>
                <div class="card_button_div">
                  <button class="card_button" ><a class="card_button" href="/templates/joke_generator.html">Go To Joke Page!</a></button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/static/imgs/giphy.gif" alt="" />
                  </a>
                </div>
                <header class="card_header">Dad Joke #3</header>
                <div class="card_body">
                  <p class="featured_paras">
                    Some people say that comedians who tell one too many light bulb jokes soon burn out, but they don't know watt they are talking about. They're not that bright.
                  </p>
                </div>
                <div class="card_button_div">
                  <button class="card_button" ><a class="card_button" href="/templates/joke_generator.html">Go To Joke Page!</a></button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
