<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke Search</title>
    <link rel="stylesheet" href="/static/css/search_css.css" />
  </head>
  <body>
    <header id="main_header">
      <h1 class="main_heading">Dad Jokes 101</h1>
      <div class="nav">
        <p class="header_para">
          <a class="page_link" href="/joke_generator">Generate</a>
        </p>
        <p class="spacer">''''''</p>
        <p class="header_para">
          <a class="page_link" href="/">Home</a>
        </p>
      </div>
    </header>
    <main id="main_content">
      <h1>Your Joke</h1>
    </main>
  </body>
</html>
